# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build output
.dist/
dist/
.tmp/
.cache/

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel


node_modules/
./node_modules

